doctype html lang="en"
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	title New treament
	link(rel="stylesheet", href="../../../../assets/css/normalize.css")
	link(rel="stylesheet", href="../../../../assets/css/milligram.css")
	link(rel="stylesheet", href="../../../../assets/fonts/css/nucleo.css")
	link(rel="stylesheet", href="../../../../assets/css/headers.css")
	link(rel="stylesheet", href="../../../../assets/css/styleA.css")
	style.
		span{
			font-size:1.9rem;
		}
		input[type="text"]{
			max-width: 200px;
			border: 0px;
			border-bottom-color: currentcolor;
			border-bottom-style: none;
			border-bottom-width: 0px;
			border-bottom: 1px solid #606c76;
			border-radius: 0;
			padding: 0px;
			padding-bottom: 0px;
			height: 2.2rem;
			font-size: 1.8rem;
			margin-left: 7px;
			padding-bottom: 5px;
			margin-bottom: 5px;
		}
		.list-user{
			border:1px solid #000;
			max-height: 400px;
			overflow: auto;
		}
		.patientavailable{
			border-bottom: 1px solid #000;
			cursor: pointer;
			margin-bottom:0;
		}
	include ../partials/navbar.pug
	include ../partials/header.pug
	main.main
		section.container
			.row
				.column.column-50
					h2 Type of treatment 
					form(method="POST", action="/admin-8E4145/treatments/newtreatment")
						.container-field
							span Type of treatment:
							select(name="idtratamiento")
								each treatment in data
									option(value=treatment._id) #{treatment.title +" - $"+treatment.priceChild+" niño / $"+treatment.priceAdult+" Adulto"} 
						.container-field
							span Patient:
							input(type="text" id="patientname" )
							input(type="hidden" name="idpatient"  id="idpatient")
							#containerpatients
						.container-field
							span Price:
							input(type="text" name="price")
						button(type="submit") Save
	script.
		var thisHost = window.location.href.split('/').slice(0, 3).join('/');
		function showError(error){
			let containerPatients = document.getElementById('containerpatients');
			if(status = "Error"){
				containerPatients.innerText ="There is an error:"+error;
			}
		}
		
		function selectPatient(event){
			let temporalText = this.innerText;
			let idPatient = this.getAttribute("data-idpatient");
			console.log(temporalText, idPatient);
			document.getElementById("patientname").value = temporalText;
			document.getElementById("idpatient").value = idPatient;
			document.getElementById('containerpatients').style.display = "none";
		}
		function reloadResults(){
			let patients = document.querySelectorAll('.patientavailable');
			for(let i = 0; i < patients.length ; i++ ){
				patients[i].addEventListener('click', selectPatient);
			}
		}
		function getPatientName(event){
			let name = this.value;
			if(name.length > 3){
				setTimeout(function(){
					fetch( thisHost+'/admin-8E4145/calendar/newappointment/name', {
						method:'POST',
						body: JSON.stringify({name}),
						headers:{
							"Content-Type": "application/json"
						}
					})
						.then( res => res.json() )
						.then( item => {
							let containerPatients = document.getElementById('containerpatients');
							containerPatients.style.display="block";
							containerPatients.innerHTML = "";
							let length = item.successText.length;
							
							let list=document.createElement('ul');
							list.className="list-user";
							for(let i =0; i<length;i++){
								let element=document.createElement('li');
								element.className = 'patientavailable';
								element.setAttribute('data-idpatient', item.successText[i]['_id']);
								element.innerText = item.successText[i]['firstname']+" "+item.successText[i]['lastname'];
								list.append(element);
							}
							containerPatients.append(list);
							reloadResults();
						})
						.catch( err => showError(err) )
				}, 3000);
			}
		}
		patientname.addEventListener('keyup', getPatientName);